Repository litmuschaos/litmus, pull requests merged in 2019-11, with the labels that each got.

#851 Added DiskFill Experiment
  chaoslib/litmus/disk_fill/convert_fill_percentage.yml
  chaoslib/litmus/disk_fill/disk_fill_by_litmus.yml
  chaoslib/litmus/disk_fill/disk_fill_ds.yaml
  chaoslib/litmus/disk_fill/file_creation.yml
  chaoslib/litmus/disk_fill/test_vars_diskfill.yml
  executor/executor.yml
  experiments/generic/disk_fill/README.md
  experiments/generic/disk_fill/disk_fill_ansible_logic.yml
  experiments/generic/disk_fill/disk_fill_k8s_job.yml
Labels: area/litmus

#911 (Doc): Adding release guideline
  RELEASE-GUIDELINES.md
Labels: kind/docs

#908 (feat): Add openebs target failure experiment
  chaoslib/litmus/container_kill/containerd_chaos/containerd.j2
  chaoslib/litmus/container_kill/containerd_chaos/crictl-chaos.yml
  experiments/openebs/openebs-pool-container-failure/openebs_pool_container_failure_ansible_logic.yml
  experiments/openebs/openebs-pool-container-failure/openebs_pool_container_failure_k8s_job.yml
  experiments/openebs/openebs-target-failure/README.md
  experiments/openebs/openebs-target-failure/chaosutil.j2
  experiments/openebs/openebs-target-failure/cstor_target_container_kill.yml
  experiments/openebs/openebs-target-failure/cstor_target_failure.yaml
  experiments/openebs/openebs-target-failure/data_persistence.j2
  experiments/openebs/openebs-target-failure/jiva_controller_container_kill.yml
  experiments/openebs/openebs-target-failure/jiva_controller_pod_failure.yaml
  experiments/openebs/openebs-target-failure/openebs_target_failure_ansible_logic.yml
  experiments/openebs/openebs-target-failure/openebs_target_failure_k8s_job.yml
  experiments/openebs/openebs-target-failure/test_prerequisites.yml
  utils/apps/openebs/fetch_cstor_target_pod.yml
  utils/apps/openebs/fetch_jiva_controller_pod.yml
  utils/apps/openebs/target_affinity_check.yml
Labels: area/litmus, artifact/litmusbook, language/ansible

#909 (feat): Chaos Experiment: Added disk loss chaos experiment logic and job for AWS
  build/ansible-runner/Dockerfile
  chaoslib/litmus/platform/aws/disk_loss.yml
  chaoslib/litmus/platform/gke/disk_loss.yml
  experiments/generic/disk_loss/README.md
  experiments/generic/disk_loss/chaosutil.j2
  experiments/generic/disk_loss/disk_loss_ansible_logic.yml
  experiments/generic/disk_loss/disk_loss_k8s_job.yml
  experiments/generic/disk_loss/disk_status_check.j2
  utils/cloud/aws/aws_configure.yml
  utils/cloud/aws/status_disk.yml
Labels: area/litmus

#931 (feat): add ability to mount secret in executor
  executor/README.md
  executor/executor.yml
  executor/experiment_configmap.yml
  experiments/generic/disk_loss/disk_loss_k8s_job.yml
  utils/cloud/gcp/gcloud_configure.yml
Labels: kind/enhancement
