Repository litmuschaos/litmus, pull requests merged in 2020-07, with the labels that each got.

#1657 Added Better CI
  .betterci/ci-k8s-manifest.yml
  .betterci/config.json
Labels: merge

#1639 Added verify and commit screen
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/assets/icons/arrow.png
  litmus-portal/frontend/src/assets/icons/b-finance.png
  litmus-portal/frontend/src/assets/icons/calendar.png
  litmus-portal/frontend/src/components/AdjustedWeights/index.tsx
  litmus-portal/frontend/src/components/AdjustedWeights/styles.ts
  litmus-portal/frontend/src/components/CustomDate/index.tsx
  litmus-portal/frontend/src/components/CustomDate/styles.ts
  litmus-portal/frontend/src/components/CustomSchToggle/index.tsx
  litmus-portal/frontend/src/components/CustomSchToggle/styles.ts
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/CustomText/index.tsx
  litmus-portal/frontend/src/components/CustomTime/index.tsx
  litmus-portal/frontend/src/components/CustomTime/styles.ts
  litmus-portal/frontend/src/components/FinishModal/styles.ts
  litmus-portal/frontend/src/components/ResultModal/styles.ts
  litmus-portal/frontend/src/components/ScheduleWorkflow/index.tsx
  litmus-portal/frontend/src/components/ScheduleWorkflow/styles.ts
  litmus-portal/frontend/src/components/SideBar/styles.ts
  litmus-portal/frontend/src/components/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/VerifyCommit/styles.ts
  litmus-portal/frontend/src/components/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/components/WorkflowCluster/styles.ts
  litmus-portal/frontend/src/theme/index.tsx
Labels: area/litmus-portal, state/design-complete, state/dev-in-progress, state/docs-in-progress, state/review-in-progress, state/unit-test-in-progress

#1649 updated(Community Page): Created Basic Community Layout and updated and updated InfoFilled Component + Modified formatCount Utility
  litmus-portal/frontend/public/icons/devto.svg
  litmus-portal/frontend/public/index.html
  litmus-portal/frontend/src/components/InfoFilled/index.tsx
  litmus-portal/frontend/src/components/InfoFilled/styles.ts
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/pages/Community/index.tsx
  litmus-portal/frontend/src/pages/Community/styles.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/utils/formatCount.ts
Labels: area/litmus-portal, state/design-complete, state/dev-complete, state/doc-complete, state/review-in-progress

#1705 chore(litmus-portal): Updating the loginpage and homepage
  litmus-portal/frontend/public/icons/next.png
  litmus-portal/frontend/src/components/LinearProgressBar/index.tsx
  litmus-portal/frontend/src/components/index.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/HomePage/style.ts
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
  litmus-portal/frontend/src/pages/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/theme/index.tsx
Labels: area/litmus-portal

#1714 chore(litmus-portal): Added description in loginpage
  litmus-portal/frontend/public/icons/kubernetes.png
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
Labels: area/litmus-portal

#1710 chore(litmus-portal): added(Cypress Unit Test + Recent Workflow Components), Passed VS Failed, Custom Stepper(Updated), Semi Circular Progress Indicator
  .gitignore
  litmus-portal/Makefile
  litmus-portal/frontend/.eslintignore
  litmus-portal/frontend/cypress.json
  litmus-portal/frontend/cypress/component/customStepper.spec.tsx
  litmus-portal/frontend/cypress/component/passedVsFailed.spec.tsx
  litmus-portal/frontend/cypress/component/semiCircularProgressBar.spec.tsx
  litmus-portal/frontend/cypress/fixtures/example.json
  litmus-portal/frontend/cypress/plugins/index.js
  litmus-portal/frontend/cypress/support/commands.js
  litmus-portal/frontend/cypress/support/index.js
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/CustomStepper/quontoConnector.ts
  litmus-portal/frontend/src/components/CustomStepper/styles.ts
  litmus-portal/frontend/src/components/CustomStepper/useQontoStepIconStyles.ts
  litmus-portal/frontend/src/components/GeoMap/cityMap.jsx
  litmus-portal/frontend/src/components/GeoMap/countryMap.jsx
  litmus-portal/frontend/src/components/GeoMap/geo.json
  litmus-portal/frontend/src/components/GeoMap/index.tsx
  litmus-portal/frontend/src/components/InfoFilled/styles.ts
  litmus-portal/frontend/src/components/PassedVsFailed/index.tsx
  litmus-portal/frontend/src/components/PassedVsFailed/styles.ts
  litmus-portal/frontend/src/components/SemiCircularProgressBar/index.tsx
  litmus-portal/frontend/src/components/SemiCircularProgressBar/styles.ts
  litmus-portal/frontend/src/components/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/pages/Community/index.tsx
  litmus-portal/frontend/src/pages/Community/styles.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/redux/reducers/analytics.ts
  litmus-portal/frontend/tsconfig.json
Labels: area/litmus-portal, state/design-complete, state/dev-complete, state/review-in-progress, state/unit-test-complete

#1737 chore(litmus-portal): Refactoring components + added routes to homepage and blog
  litmus-portal/frontend/cypress/component/LinearProgressBar.spec.tsx
  litmus-portal/frontend/cypress/component/QuickActionCard.spec.tsx
  litmus-portal/frontend/cypress/component/buttons.spec.tsx
  litmus-portal/frontend/cypress/component/customSlider.spec.tsx
  litmus-portal/frontend/cypress/component/infoTooltip.spec.tsx
  litmus-portal/frontend/cypress/component/semiCircularProgressBar.spec.tsx
  litmus-portal/frontend/src/components/AdjustedWeights/index.tsx
  litmus-portal/frontend/src/components/BackButton/index.tsx
  litmus-portal/frontend/src/components/BackButton/styles.ts
  litmus-portal/frontend/src/components/Button/ButtonFilled/index.tsx
  litmus-portal/frontend/src/components/Button/ButtonFilled/styles.ts
  litmus-portal/frontend/src/components/Button/ButtonOutline/index.tsx
  litmus-portal/frontend/src/components/Button/ButtonOutline/styles.ts
  litmus-portal/frontend/src/components/ButtonOutlineIcon/index.tsx
  litmus-portal/frontend/src/components/ButtonOutlineIcon/styles.ts
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/InfoFilled/index.tsx
  litmus-portal/frontend/src/components/InfoFilled/styles.ts
  litmus-portal/frontend/src/components/ProgressBar/LinearProgressBar/index.tsx
  litmus-portal/frontend/src/components/ProgressBar/SemiCircularProgressBar/index.tsx
  litmus-portal/frontend/src/components/ProgressBar/SemiCircularProgressBar/styles.ts
  litmus-portal/frontend/src/components/QuickActionCard/index.tsx
  litmus-portal/frontend/src/components/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/ResultModal/index.tsx
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/components/SideBar/styles.ts
  litmus-portal/frontend/src/components/VerifyCommit/index.tsx
  litmus-portal/frontend/src/pages/Community/index.tsx
  litmus-portal/frontend/src/pages/Community/styles.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/HomePage/style.ts
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
Labels: area/litmus-portal, state/unit-test-complete

#1740 Modal refactoring
  litmus-portal/frontend/src/components/WelcomeModal/PasswordModal.tsx
  litmus-portal/frontend/src/components/WelcomeModal/index.tsx
  litmus-portal/frontend/src/pages/HomePage/index.tsx
Labels: merge

#1746 (litmus-portal): Added time-series plots with minor redux update for integration.
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/components/CommunityTimeSeriesGrowthPlot/index.tsx
  litmus-portal/frontend/src/components/CommunityTimeSeriesTrendPlot/index.tsx
  litmus-portal/frontend/src/models/analytics.ts
  litmus-portal/frontend/src/pages/Community/index.tsx
  litmus-portal/frontend/src/pages/Community/styles.ts
  litmus-portal/frontend/src/redux/reducers/analytics.ts
Labels: area/litmus-portal, merge

#1744 chore(litmus-portal): Code refactoring
  litmus-portal/frontend/.eslintignore
  litmus-portal/frontend/.eslintrc.json
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/public/index.html
  litmus-portal/frontend/src/components/BinarySwitch/index.tsx
  litmus-portal/frontend/src/components/CommunityTimeSeriesGrowthPlot/index.tsx
  litmus-portal/frontend/src/components/CommunityTimeSeriesTrendPlot/index.tsx
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/GeoMap/CityMap.tsx
  litmus-portal/frontend/src/components/GeoMap/CountryMap.tsx
  litmus-portal/frontend/src/components/GeoMap/cityMap.jsx
  litmus-portal/frontend/src/components/GeoMap/countryMap.jsx
  litmus-portal/frontend/src/components/GeoMap/index.tsx
  litmus-portal/frontend/src/components/ProfileDropdown/index.tsx
  litmus-portal/frontend/src/components/ProjectListItem/index.tsx
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/step.tsx
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/models/charts.ts
  litmus-portal/frontend/src/models/customCard.ts
  litmus-portal/frontend/src/models/index.ts
  litmus-portal/frontend/src/models/theme.ts
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
  litmus-portal/frontend/src/pages/Workflows/styles.ts
  litmus-portal/frontend/src/redux/actions/charts.ts
  litmus-portal/frontend/src/redux/configureStore.tsx
  litmus-portal/frontend/src/redux/reducers/analytics.ts
  litmus-portal/frontend/src/redux/reducers/charts.ts
  litmus-portal/frontend/src/redux/reducers/index.ts
  litmus-portal/frontend/src/redux/reducers/user.ts
  litmus-portal/frontend/src/theme/index.tsx
Labels: area/litmus-portal

#1750 chore(litmus-portal): Fixed the switcher in Reliability Page, added changes in LoginPage Components and made some important refactors
  litmus-portal/frontend/public/icons/ellipse.png
  litmus-portal/frontend/src/components/InputField/index.tsx
  litmus-portal/frontend/src/components/InputField/styles.ts
  litmus-portal/frontend/src/components/RecentWorkFlow/PassedVsFailed/index.tsx
  litmus-portal/frontend/src/components/RecentWorkFlow/PassedVsFailed/styles.ts
  litmus-portal/frontend/src/components/RecentWorkFlow/TotalExperiments/index.tsx
  litmus-portal/frontend/src/components/RecentWorkFlow/TotalExperiments/styles.ts
  litmus-portal/frontend/src/components/ReliabilityScore/ResultTable.tsx
  litmus-portal/frontend/src/components/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/ReliabilityScore/styles.ts
  litmus-portal/frontend/src/components/ResultModal/index.tsx
  litmus-portal/frontend/src/components/ResultModal/styles.ts
  litmus-portal/frontend/src/components/ToggleComponent/index.tsx
  litmus-portal/frontend/src/components/ToggleComponent/styles.ts
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
  litmus-portal/frontend/src/theme/index.tsx
Labels: area/litmus-portal

#1781 Remove pages repo from litmus
  .github/PULL_REQUEST_TEMPLATE.md
  RELEASE_GUIDELINES.md
  fossa.md
Labels: area/litmus-docs

#1759 chore(litmus-portal): Community Page and Time Series Plot Refractor.
  litmus-portal/frontend/src/components/CommunityTimeSeriesGrowthPlot/index.tsx
  litmus-portal/frontend/src/components/CommunityTimeSeriesPlot/index.tsx
  litmus-portal/frontend/src/components/CommunityTimeSeriesPlot/styles.ts
  litmus-portal/frontend/src/components/CommunityTimeSeriesTrendPlot/index.tsx
  litmus-portal/frontend/src/pages/Community/index.tsx
  litmus-portal/frontend/src/pages/Community/styles.ts
Labels: area/litmus-portal, state/review-complete

#1776 chore(litmus-portal): Modified Welcome Modal and Refactored InputField
  litmus-portal/frontend/src/components/InputField/index.tsx
  litmus-portal/frontend/src/components/InputField/styles.ts
  litmus-portal/frontend/src/components/ToggleComponent/index.tsx
  litmus-portal/frontend/src/components/ToggleComponent/styles.ts
  litmus-portal/frontend/src/components/WelcomeModal/Modalpage.tsx
  litmus-portal/frontend/src/components/WelcomeModal/NamingModal.tsx
  litmus-portal/frontend/src/components/WelcomeModal/PasswordModal.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WelcomeModal/WelcomeStart.tsx
  litmus-portal/frontend/src/components/WelcomeModal/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/step.tsx
  litmus-portal/frontend/src/components/WelcomeModal/styles.ts
  litmus-portal/frontend/src/models/user.ts
  litmus-portal/frontend/src/redux/reducers/user.ts
Labels: area/litmus-portal, state/review-in-progress

#1754 Workflow Cluster Refactoring
  litmus-portal/frontend/src/components/Button/ButtonOutline/styles.ts
  litmus-portal/frontend/src/components/WelcomeModal/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/styles.ts
  litmus-portal/frontend/src/components/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/components/WorkflowCluster/styles.ts
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/pages/WorkflowCluster/styles.ts
  litmus-portal/package-lock.json
Labels: area/litmus-portal

#1760 chore(litmus-portal): Header and BreadCrumbs Refractor.
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/components/CustomBreadCrumbs/index.tsx
  litmus-portal/frontend/src/components/Header/NotificationDropdown.tsx
  litmus-portal/frontend/src/components/Header/NotificationListItem.tsx
  litmus-portal/frontend/src/components/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/components/Header/ProfileDropdownSection.tsx
  litmus-portal/frontend/src/components/Header/ProjectListItem.tsx
  litmus-portal/frontend/src/components/Header/index.tsx
  litmus-portal/frontend/src/components/Header/styles.ts
  litmus-portal/frontend/src/components/NotificationDropdown/styles.ts
  litmus-portal/frontend/src/components/ProfileDropdown/index.tsx
  litmus-portal/frontend/src/components/ProfileDropdown/styles.ts
  litmus-portal/frontend/src/components/ProfileDropdownItems/styles.ts
  litmus-portal/frontend/src/components/ProjectListItem/styles.ts
  litmus-portal/frontend/src/models/header.ts
Labels: area/litmus-portal, state/review-complete

#1796 Adding member's approval to auto-merge.yml
  .github/auto-merge.yml
Labels: merge

#1798 Updated Schedule Page and code refactoring of components
  litmus-portal/frontend/public/icons/nextArrow.svg
  litmus-portal/frontend/src/assets/icons/down-arrow.svg
  litmus-portal/frontend/src/components/Button/ButtonFilled/index.tsx
  litmus-portal/frontend/src/components/Button/ButtonFilled/styles.ts
  litmus-portal/frontend/src/components/Button/ButtonOutline/styles.ts
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/CustomStepper/styles.ts
  litmus-portal/frontend/src/components/CustomText/index.tsx
  litmus-portal/frontend/src/components/CustomTime/styles.ts
  litmus-portal/frontend/src/components/DateTime/CustomDate/index.tsx
  litmus-portal/frontend/src/components/DateTime/CustomDate/styles.ts
  litmus-portal/frontend/src/components/DateTime/CustomTime/index.tsx
  litmus-portal/frontend/src/components/DateTime/CustomTime/styles.ts
  litmus-portal/frontend/src/components/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/ScheduleWorkflow/index.tsx
  litmus-portal/frontend/src/components/ScheduleWorkflow/styles.ts
  litmus-portal/frontend/src/components/SetTime/index.tsx
  litmus-portal/frontend/src/components/SetTime/styles.ts
  litmus-portal/frontend/src/components/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/VerifyCommit/styles.ts
  litmus-portal/frontend/src/components/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/pages/HomePage/index.tsx
Labels: area/litmus-portal

#1805 Due to Button Size fixed some CSS issues there, This PR fixed that for Buttons
  litmus-portal/frontend/src/components/WorkflowCluster/styles.ts
Labels: area/litmus-portal
