Repository litmuschaos/litmus, pull requests merged in 2020-09, with the labels that each got.

#1948 litmus-portal(language): Add support for multi-language
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/public/locales/README..md
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/components/WelcomeModal/Modalpage.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/i18n.js
  litmus-portal/frontend/src/index.tsx
  litmus-portal/frontend/src/pages/Community/index.tsx
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/SchedulePage/index.tsx
  litmus-portal/frontend/src/pages/WorkflowUnderground/index.tsx
Labels: kind/feature

#1953 chore(litmus-portal): Added Input Validation + Modified InputField + Updated Login
  litmus-portal/frontend/public/icons/closeFilled.svg
  litmus-portal/frontend/public/icons/correctFilled.svg
  litmus-portal/frontend/public/icons/login.svg
  litmus-portal/frontend/src/components/InputField/index.tsx
  litmus-portal/frontend/src/components/InputField/styles.ts
  litmus-portal/frontend/src/components/WelcomeModal/Modalpage.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WelcomeModal/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/utils/validate.ts
Labels: area/litmus-portal

#1967 chore(litmus-portal): Project API Integration.
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/ScheduleWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/PersonalDetails/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/UserManagement/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/containers/layouts/Header/index.tsx
  litmus-portal/frontend/src/graphql/index.ts
  litmus-portal/frontend/src/models/project.ts
  litmus-portal/frontend/src/models/user.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/WorkflowUnderground/index.tsx
  litmus-portal/frontend/src/redux/actions/user.ts
  litmus-portal/frontend/src/redux/reducers/user.ts
  litmus-portal/frontend/src/utils/yamlUtils.ts
Labels: area/litmus-portal, priority/high, state/dev-complete, state/review-in-progress

#1962 chore(litmus-portal): Added date filter in workflows table and some important refactorings
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/headerSection.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/styles.ts
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/ScheduleWorkflow/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/ScheduleWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/ScheduleWorkflow/styles.ts
Labels: area/litmus-portal

#1978 chore(litmus-portal): Mapping workflow run to workflow schedules using workflow schedule id.
  litmus-portal/backend/auth/go.mod
  litmus-portal/backend/auth/go.sum
  litmus-portal/backend/graphql-server/go.mod
  litmus-portal/backend/graphql-server/go.sum
  litmus-portal/backend/graphql-server/pkg/graphql/mutations/mutation.go
  litmus-portal/backend/subscriber/pkg/cluster/events/workflow.go
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/src/components/PredifinedWorkflows/data.ts
  litmus-portal/frontend/src/utils/yamlUtils.ts
Labels: area/litmus-portal, priority/high, state/dev-complete

#1983 chore (litmus-portal): Blocking the routes when Welcome Modal is open and some minor changes
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/headerSection.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/styles.ts
  litmus-portal/frontend/src/containers/app/App.tsx
Labels: area/litmus-portal

#1975 chore (litmus-portal): Added argo workflow representation using dagre d3 graph
  litmus-portal/frontend/.eslintrc.json
  litmus-portal/frontend/cypress/component/weightSlider.spec.tsx
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/components/BreadCrumbs/index.tsx
  litmus-portal/frontend/src/components/DagreGraph/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseSchedule/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseSchedule/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseSchedule/styles.ts
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseTemplate/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/HeaderSection.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/Templates/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/WorkflowTabs/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/WorkflowTabs/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ChooseWorkflow/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ReliabilityScore/ResultTable.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ReliabilityScore/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ScheduleWorkflow/SetTime/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ScheduleWorkflow/SetTime/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ScheduleWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ScheduleWorkflow/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ToggleComponent/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ToggleComponent/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/TuneWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/TuneWorkflow/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/VerifyCommit/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/WeightSlider/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/WeightSlider/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/WorkflowCluster/styles.ts
  litmus-portal/frontend/src/components/Sections/WorkflowDetails/ArgoWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/WorkflowDetails/ArgoWorkflow/styles.ts
  litmus-portal/frontend/src/components/Sections/WorkflowDetails/WorkflowInfo/index.tsx
  litmus-portal/frontend/src/components/Sections/WorkflowDetails/WorkflowInfo/styles.ts
  litmus-portal/frontend/src/components/Sections/WorkflowUnderground/WorkflowRepresentation/index.tsx
  litmus-portal/frontend/src/components/Tabs/index.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/containers/layouts/Header/index.tsx
  litmus-portal/frontend/src/models/index.ts
  litmus-portal/frontend/src/models/nodeSelection.ts
  litmus-portal/frontend/src/models/predefinedWorkflow.ts
  litmus-portal/frontend/src/models/workflowData.ts
  litmus-portal/frontend/src/pages/SchedulePage/index.tsx
  litmus-portal/frontend/src/pages/WorkflowDetails/index.tsx
  litmus-portal/frontend/src/pages/WorkflowDetails/styles.ts
  litmus-portal/frontend/src/pages/WorkflowUnderground/index.tsx
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/pages/Workflows/styles.ts
  litmus-portal/frontend/src/redux/actions/nodeSelection.ts
  litmus-portal/frontend/src/redux/configureStore.tsx
  litmus-portal/frontend/src/redux/reducers/index.ts
  litmus-portal/frontend/src/redux/reducers/nodeSelection.ts
  litmus-portal/frontend/src/theme/index.tsx
Labels: area/litmus-portal, state/design-complete, state/dev-complete, state/e2e-skip, state/review-in-progress

#1976 Added Hover shadow for cards and some important checks for activation of subscriber.
  litmus-portal/frontend/src/components/Button/ButtonFilled/index.tsx
  litmus-portal/frontend/src/components/Button/ButtonFilled/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ChooseWorkflow/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/components/WorkflowCard/styles.ts
  litmus-portal/frontend/src/graphql/index.ts
Labels: area/litmus-portal

#2000 chore (litmus-portal): Refactor Settings section to use InputField
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/AccountSettings/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/AccountSettings/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/UserDetails/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/UserDetails/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/EditUser/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/EditUser/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/UserManagement/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/containers/layouts/InputField/index.tsx
  litmus-portal/frontend/src/containers/layouts/InputField/styles.ts
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/utils/validate.ts
Labels: area/litmus-portal, litmus-portal /refactor

#2003 Updated predefined workflows and parser for the same.
  litmus-portal/frontend/src/components/PredifinedWorkflows/data.ts
  litmus-portal/frontend/src/components/WorkflowCard/CardContent.tsx
  litmus-portal/frontend/src/utils/yamlUtils.ts
Labels: area/litmus-portal, kind/enhancement, priority/high, state/dev-complete, state/docs-skip, state/review-in-progress

#1864 Refactoring for Workflow Scheduling and Bug Fixes
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ChooseWorkflow/styles.ts
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/styles.ts
  litmus-portal/frontend/src/components/YamlEditor/Editor.tsx
  litmus-portal/frontend/src/components/YamlEditor/styles.ts
  litmus-portal/package-lock.json
Labels: area/litmus-portal, priority/high

#2004 chore(litmus-portal): Updated Login validation
  litmus-portal/frontend/src/components/InputField/index.tsx
  litmus-portal/frontend/src/components/InputField/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/AccountSettings/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/UserDetails/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/EditUser/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
Labels: area/litmus-portal, litmus-portal /refactor

#1982 (feat teaming): send accept and decline invitation
  litmus-portal/backend/graphql-server/graph/generated/generated.go
  litmus-portal/backend/graphql-server/graph/model/models_gen.go
  litmus-portal/backend/graphql-server/graph/project.graphqls
  litmus-portal/backend/graphql-server/graph/schema.graphqls
  litmus-portal/backend/graphql-server/graph/schema.resolvers.go
  litmus-portal/backend/graphql-server/pkg/database/mongodb/operations/project.go
  litmus-portal/backend/graphql-server/pkg/database/mongodb/operations/usermanagement.go
  litmus-portal/backend/graphql-server/pkg/database/mongodb/schema/project.go
  litmus-portal/backend/graphql-server/pkg/project/create.go
  litmus-portal/backend/graphql-server/pkg/usermanagement/create.go
Labels: area/litmus-portal, kind/bug-fix, kind/feature, priority/high

#2016 added fix for workflow data
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseSchedule/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/pages/WorkflowDetails/index.tsx
Labels: area/litmus-portal

#1997 chore (litmus-portal): Header updates for project switching, necessary bug fixes for it and disabling notifications button in header.
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/src/containers/layouts/Header/NotificationDropdown.tsx
  litmus-portal/frontend/src/containers/layouts/Header/NotificationListItem.tsx
  litmus-portal/frontend/src/containers/layouts/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/containers/layouts/Header/ProfileDropdownSection.tsx
  litmus-portal/frontend/src/containers/layouts/Header/ProjectListItem.tsx
  litmus-portal/frontend/src/containers/layouts/Header/index.tsx
  litmus-portal/frontend/src/containers/layouts/Header/styles.ts
  litmus-portal/frontend/src/models/header.ts
  litmus-portal/frontend/src/models/user.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/redux/reducers/user.ts
  litmus-portal/frontend/src/theme/index.tsx
Labels: area/litmus-portal, kind/bug-fix, kind/feature, priority/high, state/dev-complete, state/review-in-progress

#2012 chore(litmus-portal): Error page updated.
  litmus-portal/frontend/public/icons/error-background.svg
  litmus-portal/frontend/public/icons/litmus-404.png
  litmus-portal/frontend/src/pages/ErrorPage/index.tsx
  litmus-portal/frontend/src/pages/ErrorPage/styles.ts
Labels: area/litmus-portal, kind/enhancement, state/design-complete, state/dev-complete, state/review-in-progress

#2022 chore(litmus-portal): Changed the date range picker component and minor fix in search filter
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/HeaderSection.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/PersonalDetails/styles.ts
Labels: area/litmus-portal

#2024 Project API integration bug fix.
  litmus-portal/frontend/src/containers/layouts/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/containers/layouts/Header/ProfileDropdownSection.tsx
  litmus-portal/frontend/src/containers/layouts/Header/index.tsx
Labels: area/litmus-portal, kind/bug-fix, priority/high

#2021 chore(litmus-portal): Editor update with time-stamp based workflow mapping.
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/public/index.html
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/TuneWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/YamlEditor/Editor.tsx
  litmus-portal/frontend/src/components/YamlEditor/styles.ts
  litmus-portal/frontend/src/containers/layouts/Unimodal/index.tsx
  litmus-portal/frontend/src/containers/layouts/Unimodal/styles.ts
  litmus-portal/frontend/src/theme/index.tsx
Labels: area/litmus-portal, kind/bug-fix, kind/enhancement, priority/high, state/design-complete, state/dev-complete, state/review-in-progress

#2027 chore: (litmus-portal) Refactoring and bug fixes
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseSchedule/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseSchedule/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/TuneWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/CreateWorkflow/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/PersonalDetails/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/TeammingTab/Invitation/ReceivedInvitations/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/TeammingTab/Invitation/SentInvitations/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/TeammingTab/InviteNew/Invite/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/TeammingTab/index.tsx
  litmus-portal/frontend/src/components/Sections/WorkflowDetails/ArgoWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/WorkflowDetails/WorkflowInfo/index.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/containers/layouts/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/containers/layouts/Header/ProfileDropdownSection.tsx
  litmus-portal/frontend/src/containers/layouts/Header/ProjectListItem.tsx
  litmus-portal/frontend/src/containers/layouts/Header/index.tsx
  litmus-portal/frontend/src/graphql/index.ts
  litmus-portal/frontend/src/graphql/mutations.ts
  litmus-portal/frontend/src/graphql/quries.ts
  litmus-portal/frontend/src/graphql/subscriptions.ts
  litmus-portal/frontend/src/models/graphql/createWorkflowData.ts
  litmus-portal/frontend/src/models/graphql/invite.ts
  litmus-portal/frontend/src/models/graphql/user.ts
  litmus-portal/frontend/src/models/graphql/workflowData.ts
  litmus-portal/frontend/src/models/project.ts
  litmus-portal/frontend/src/models/redux/analytics.ts
  litmus-portal/frontend/src/models/redux/index.ts
  litmus-portal/frontend/src/models/redux/nodeSelection.ts
  litmus-portal/frontend/src/models/redux/user.ts
  litmus-portal/frontend/src/models/redux/workflow.ts
  litmus-portal/frontend/src/models/user.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/WorkflowDetails/index.tsx
  litmus-portal/frontend/src/redux/actions/analytics.ts
  litmus-portal/frontend/src/redux/actions/nodeSelection.ts
  litmus-portal/frontend/src/redux/actions/user.ts
  litmus-portal/frontend/src/redux/actions/workflow.ts
  litmus-portal/frontend/src/redux/reducers/analytics.ts
  litmus-portal/frontend/src/redux/reducers/createReducer.ts
  litmus-portal/frontend/src/redux/reducers/index.ts
  litmus-portal/frontend/src/redux/reducers/nodeSelection.ts
  litmus-portal/frontend/src/redux/reducers/user.ts
  litmus-portal/frontend/src/redux/reducers/workflow.ts
Labels: area/litmus-portal, kind/bug-fix, kind/refactor

#2035 chore: (litmus-portal) User logout after jwt expiration and Analytics page route
  litmus-portal/frontend/.eslintrc.json
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/ReduxRoot.tsx
  litmus-portal/frontend/src/components/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/config/index.ts
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/graphql/mutations.ts
  litmus-portal/frontend/src/models/redux/user.ts
  litmus-portal/frontend/src/pages/AnalyticsPage/index.tsx
  litmus-portal/frontend/src/redux/reducers/user.ts
  litmus-portal/frontend/src/utils/cookies.ts
  litmus-portal/frontend/src/utils/getToken.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/CreateUser/NewUserModal/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/EditUser/ResetModal/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/index.tsx
Labels: area/litmus-portal

#2038 chore(litmus-portal): Fixed pre-selection from Template & toggling button for initial workflow selection
  litmus-portal/frontend/src/components/PredifinedWorkflows/data.ts
  litmus-portal/frontend/src/components/WorkflowCard/CardContent.tsx
  litmus-portal/frontend/src/components/WorkflowCard/styles.ts
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/models/predefinedWorkflow.ts
  litmus-portal/frontend/src/models/redux/template.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/redux/actions/template.ts
  litmus-portal/frontend/src/redux/reducers/index.ts
  litmus-portal/frontend/src/redux/reducers/template.ts
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/Templates/index.tsx
  litmus-portal/frontend/src/views/CreateWorkflow/ChooseWorkflow/index.tsx
Labels: area/litmus-portal, litmus-portal /refactor

#2042 chore(litmus-portal): Integration of schedule workflow table and updated the stats according to charthub
  litmus-portal/frontend/public/icons/show-analytics.svg
  litmus-portal/frontend/public/icons/show-workflow.svg
  litmus-portal/frontend/src/components/InfoFilled/index.tsx
  litmus-portal/frontend/src/graphql/mutations.ts
  litmus-portal/frontend/src/graphql/quries.ts
  litmus-portal/frontend/src/models/graphql/scheduleData.ts
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/ExperimentPoints.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/styles.ts
Labels: area/litmus-portal, litmus-portal /refactor

#2045 chore (litmus-portal): fixed userData persisting problem, logout bug fixes and cookie expiration problem
  litmus-portal/frontend/.eslintrc.json
  litmus-portal/frontend/client_id
  litmus-portal/frontend/src/components/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/components/Header/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/models/graphql/user.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/redux/reducers/user.ts
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/index.tsx
Labels: area/litmus-portal

#2051 Bug fixes: displays error on modal for create user and change password
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/models/redux/user.ts
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/redux/reducers/user.ts
  litmus-portal/frontend/src/views/Settings/AccountsTab/AccountSettings/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/CreateUser/NewUserModal/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/CreateUser/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/EditUser/ResetModal/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/index.tsx
Labels: area/litmus-portal, kind/bug-fix

#2054 chore(litmus-portal): Added browse workflow analytics for litmus-portal.
  litmus-portal/frontend/cypress/component/QuickActionCard.spec.tsx
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/models/graphql/workflowData.ts
  litmus-portal/frontend/src/pages/AnalyticsPage/index.tsx
  litmus-portal/frontend/src/pages/AnalyticsPage/styles.ts
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/PopOver/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/PopOver/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunsBarChart/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunsBarChart/styles.ts
Labels: area/litmus-portal, kind/feature, merge, priority/high, state/design-complete, state/dev-complete, state/review-complete

#2055 disabled create workflow for viewers
  litmus-portal/frontend/src/components/Button/ButtonFilled/index.tsx
  litmus-portal/frontend/src/components/Button/ButtonOutline/index.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
Labels: area/litmus-portal, kind/bug-fix

#2053 chore(litmus-portal): Home Page Stats for Litmus Portal.
  litmus-portal/frontend/cypress/component/LinearProgressBar.spec.tsx
  litmus-portal/frontend/cypress/component/passedVsFailed.spec.tsx
  litmus-portal/frontend/cypress/component/semiCircularProgressBar.spec.tsx
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/public/icons/avgResilience.png
  litmus-portal/frontend/public/icons/weeklyWorkflows.svg
  litmus-portal/frontend/src/components/AdjustedWeights/index.tsx
  litmus-portal/frontend/src/components/ProgressBar/AnalyticsLinearProgressBar/index.tsx
  litmus-portal/frontend/src/components/ProgressBar/LinearProgressBar/index.tsx
  litmus-portal/frontend/src/components/ProgressBar/SemiCircularProgressBar/index.tsx
  litmus-portal/frontend/src/components/ProgressBar/SemiCircularProgressBar/styles.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/ExperimentPoints.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/views/CreateWorkflow/ReliabilityScore/ResultTable.tsx
  litmus-portal/frontend/src/views/Home/AverageResilienceScore/index.tsx
  litmus-portal/frontend/src/views/Home/AverageResilienceScore/styles.ts
  litmus-portal/frontend/src/views/Home/PassedVsFailed/index.tsx
  litmus-portal/frontend/src/views/Home/PassedVsFailed/styles.ts
  litmus-portal/frontend/src/views/Home/ReturningHome/index.tsx
  litmus-portal/frontend/src/views/Home/ReturningHome/style.ts
  litmus-portal/frontend/src/views/Home/TotalWorkflows/index.tsx
  litmus-portal/frontend/src/views/Home/TotalWorkflows/styles.ts
  litmus-portal/frontend/src/views/ReturningHome/TotalExperiments/index.tsx
Labels: area/litmus-portal, merge, state/design-complete, state/dev-complete, state/review-complete

#2062 chore(litmus-portal): Added filter in browse workflow section and updated the graphql schema
  litmus-portal/frontend/src/graphql/quries.ts
  litmus-portal/frontend/src/models/graphql/scheduleData.ts
  litmus-portal/frontend/src/models/graphql/workflowData.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/styles.ts
Labels: area/litmus-portal

#2056 chore (litmus-portal): Added text to translations.yaml for components and pages
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/components/Header/NotificationDropdown.tsx
  litmus-portal/frontend/src/components/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/components/QuickActionCard/index.tsx
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/components/WorkflowCard/CustomWorkflow.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/pages/AnalyticsPage/index.tsx
  litmus-portal/frontend/src/pages/ErrorPage/index.tsx
  litmus-portal/frontend/src/pages/SchedulePage/index.tsx
  litmus-portal/frontend/src/pages/WorkflowDetails/index.tsx
  litmus-portal/frontend/src/pages/Workflows/index.tsx
Labels: area/litmus-portal, kind/bug-fix

#2064 chore(litmus-portal): Updated Circular Loader and Removed User Waiting after login
  litmus-portal/frontend/src/components/Loader/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/models/redux/user.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/HomePage/style.ts
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
  litmus-portal/frontend/src/redux/reducers/user.ts
Labels: area/litmus-portal

#2057 Refactoring of Cypress Unit Tests.
  litmus-portal/frontend/cypress/component/QuickActionCard.spec.tsx
  litmus-portal/frontend/cypress/component/stepper.spec.tsx
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/testHelpers/ProviderWrapper.tsx
  litmus-portal/frontend/src/testHelpers/ThemeWrapper.tsx
Labels: area/litmus-portal

#2060 Added loader to settings page buttons
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/views/Settings/AccountsTab/AccountSettings/index.tsx
  litmus-portal/frontend/src/views/Settings/AccountsTab/PersonalDetails/index.tsx
  litmus-portal/frontend/src/views/Settings/AccountsTab/PersonalDetails/styles.ts
  litmus-portal/frontend/src/views/Settings/UserManagementTab/CreateUser/NewUserModal/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/EditUser/ResetModal/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/EditUser/ResetModal/styles.ts
Labels: kind/bug-fix

#2069 validation bug fix, css fixes for release
  litmus-portal/frontend/public/icons/LitmusLogo.svg
  litmus-portal/frontend/public/icons/community.png
  litmus-portal/frontend/public/icons/setting.png
  litmus-portal/frontend/public/icons/workflows.png
  litmus-portal/frontend/src/components/InputField/index.tsx
  litmus-portal/frontend/src/components/InputField/styles.ts
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/components/SideBar/styles.ts
  litmus-portal/frontend/src/components/Tabs/index.tsx
  litmus-portal/frontend/src/pages/Community/index.tsx
  litmus-portal/frontend/src/pages/Community/styles.ts
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/Settings/index.tsx
  litmus-portal/frontend/src/pages/Settings/styles.ts
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/pages/Workflows/styles.ts
  litmus-portal/frontend/src/svg/community.svg
  litmus-portal/frontend/src/svg/home.svg
  litmus-portal/frontend/src/svg/hub.svg
  litmus-portal/frontend/src/svg/settings.svg
  litmus-portal/frontend/src/svg/target.svg
  litmus-portal/frontend/src/svg/workflows.svg
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/utils/validate.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/CustomStatus/Status.tsx
  litmus-portal/frontend/src/views/CreateWorkflow/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/views/Settings/AccountsTab/AccountSettings/styles.ts
  litmus-portal/frontend/src/views/Settings/TeammingTab/InviteNew/Invite/index.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/InviteNew/Invite/styles.ts
  litmus-portal/frontend/src/views/Settings/TeammingTab/InviteNew/styles.ts
  litmus-portal/frontend/src/views/Settings/TeammingTab/styles.ts
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/styles.ts
Labels: area/litmus-portal, kind/bug-fix

#2065 Analytics for litmus portal.
  litmus-portal/frontend/src/components/DateRangeSelector/index.tsx
  litmus-portal/frontend/src/components/DateRangeSelector/styles.ts
  litmus-portal/frontend/src/components/Header/NotificationDropdown.tsx
  litmus-portal/frontend/src/components/Header/index.tsx
  litmus-portal/frontend/src/components/InfoTooltip/index.tsx
  litmus-portal/frontend/src/models/graphql/scheduleData.ts
  litmus-portal/frontend/src/pages/AnalyticsPage/index.tsx
  litmus-portal/frontend/src/pages/AnalyticsPage/styles.ts
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/ExperimentStatus/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/ExperimentStatus/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/TableHeader.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/TableToolbar.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/TableHeader.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/TableToolbar.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunsBarChart/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/views/Home/ReturningHome/index.tsx
  litmus-portal/frontend/src/views/Home/ReturningHome/style.ts
Labels: area/litmus-portal, kind/bug-fix, kind/feature, merge, priority/high, state/dev-complete, state/review-complete

#2070 Argo route fix.
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/TableData.tsx
Labels: area/litmus-portal, kind/bug-fix, priority/high

#2077 Analytics fixes and style updates.
  litmus-portal/frontend/public/icons/calenderAnalytics.svg
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/components/Header/ProjectListItem.tsx
  litmus-portal/frontend/src/components/QuickActionCard/index.tsx
  litmus-portal/frontend/src/pages/AnalyticsPage/index.tsx
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/ExperimentStatus/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/ExperimentStatus/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/PopOver/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/PopOver/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/TableHeader.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/TableToolbar.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunsBarChart/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunsBarChart/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/styles.ts
  litmus-portal/frontend/src/views/Home/AverageResilienceScore/index.tsx
  litmus-portal/frontend/src/views/Home/PassedVsFailed/index.tsx
  litmus-portal/frontend/src/views/Home/ReturningHome/index.tsx
Labels: area/litmus-portal, kind/bug-fix, kind/enhancement

#2074 chore(litmus-portal): Updated Frontend README + Modified Template Recommendation
  litmus-portal/README.md
  litmus-portal/frontend/README.md
  litmus-portal/frontend/public/android-chrome-144x144.png
  litmus-portal/frontend/public/apple-touch-icon.png
  litmus-portal/frontend/public/favicon-16x16.png
  litmus-portal/frontend/public/favicon-32x32.png
  litmus-portal/frontend/public/favicon.ico
  litmus-portal/frontend/public/mstile-150x150.png
  litmus-portal/frontend/public/safari-pinned-tab.svg
  litmus-portal/frontend/src/components/PredifinedWorkflows/data.ts
Labels: area/litmus-docs, area/litmus-portal

#2081 fixed update user bug
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/Invitation/ReceivedInvitations/index.tsx
Labels: area/litmus-portal, kind/bug-fix, priority/high

#2082 fixed update user bug (#2081)
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/Invitation/ReceivedInvitations/index.tsx
Labels: cherry-pick

#2086 (litmus): Update the docker pull count with chaos-operator
  README.md
Labels: merge

#2090 Changing docker-build-frontend vm to large
  .circleci/config.yml
Labels: merge

#2084 chore(litmus-portal): Adding kube-proxy-all workflow with required parser enhancement for it.
  litmus-portal/frontend/src/components/PredifinedWorkflows/data.ts
  litmus-portal/frontend/src/components/WorkflowCard/CardContent.tsx
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/utils/yamlUtils.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/ExperimentStatus/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/ExperimentStatus/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/TableData.tsx
  litmus-portal/frontend/src/views/Home/PassedVsFailed/styles.ts
Labels: area/litmus-portal, kind/enhancement, merge

#2098 Monitoring for litmus.
  monitoring/README.md
  monitoring/grafana-dashboards/README.md
  monitoring/grafana-dashboards/kubernetes/Node-and-pod-metrics-dashboard.json
  monitoring/grafana-dashboards/kubernetes/README.md
  monitoring/grafana-dashboards/sock-shop/README.md
  monitoring/grafana-dashboards/sock-shop/Sock-Shop-Performance-Under-Chaos.json
  monitoring/screenshots/Node-and-Pod-metrics-Dashboard.png
  monitoring/screenshots/Sock-Shop-Dashboard.png
  monitoring/screenshots/data-source-config.png
  monitoring/screenshots/import-dashboard.png
Labels: area/litmus, area/monitoring

#2111 chore(litmus-portal): Added unique attributes in frontend for E2E testing and minor CSS changes
  litmus-portal/frontend/cypress/component/LinearProgressBar.spec.tsx
  litmus-portal/frontend/src/components/AdjustedWeights/index.tsx
  litmus-portal/frontend/src/components/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/components/Header/ProfileDropdownSection.tsx
  litmus-portal/frontend/src/components/Header/ProjectListItem.tsx
  litmus-portal/frontend/src/components/PredifinedWorkflows/index.tsx
  litmus-portal/frontend/src/components/ProgressBar/LinearProgressBar/index.tsx
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WorkflowCard/CardContent.tsx
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
  litmus-portal/frontend/src/pages/Settings/index.tsx
  litmus-portal/frontend/src/pages/WorkflowDetails/index.tsx
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowRunDetailsTable/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/ExperimentPoints.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseSchedule/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseTemplate/Head.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseWorkflow/styles.ts
  litmus-portal/frontend/src/views/ChaosWorkflows/Templates/index.tsx
  litmus-portal/frontend/src/views/CreateWorkflow/ReliabilityScore/ResultTable.tsx
  litmus-portal/frontend/src/views/Settings/AccountsTab/AccountSettings/index.tsx
  litmus-portal/frontend/src/views/Settings/AccountsTab/AccountSettings/styles.ts
  litmus-portal/frontend/src/views/Settings/AccountsTab/PersonalDetails/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/CreateUser/UserDetails/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/index.tsx
Labels: area/litmus-portal

#2108 chore(litmus-portal): Added Workflow Details Top NavBar
  litmus-portal/frontend/public/icons/alignment.svg
  litmus-portal/frontend/public/icons/back.svg
  litmus-portal/frontend/public/icons/export.svg
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/components/Button/BackButton/index.tsx
  litmus-portal/frontend/src/components/Button/BackButton/styles.ts
  litmus-portal/frontend/src/components/Button/ButtonFilled/index.tsx
  litmus-portal/frontend/src/components/Button/ButtonOutline/index.tsx
  litmus-portal/frontend/src/components/Button/ButtonOutline/styles.ts
  litmus-portal/frontend/src/pages/LoginPage/styles.ts
  litmus-portal/frontend/src/pages/WorkflowDetails/TopNavButtons.tsx
  litmus-portal/frontend/src/pages/WorkflowDetails/index.tsx
  litmus-portal/frontend/src/pages/WorkflowDetails/styles.ts
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/Templates/index.tsx
  litmus-portal/frontend/src/views/Home/TotalWorkflows/index.tsx
  litmus-portal/frontend/src/views/Settings/AccountsTab/AccountSettings/styles.ts
Labels: area/litmus-portal

#2089 Target Screens for External Agents.
  litmus-portal/frontend/public/icons/arrow_downward.svg
  litmus-portal/frontend/public/icons/edit.svg
  litmus-portal/frontend/public/icons/targets.svg
  litmus-portal/frontend/public/icons/targetsC.svg
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/components/Targets/ConnectHome/index.tsx
  litmus-portal/frontend/src/components/Targets/ConnectHome/styles.ts
  litmus-portal/frontend/src/components/Targets/ConnectTarget/index.tsx
  litmus-portal/frontend/src/components/Targets/ConnectTarget/styles.ts
  litmus-portal/frontend/src/components/Targets/TargetCopy/index.tsx
  litmus-portal/frontend/src/components/Targets/TargetCopy/styles.ts
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseCluster/HeaderSection.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseCluster/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseCluster/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseCluster/styles.ts
  litmus-portal/frontend/src/views/CreateWorkflow/WorkflowCluster/index.tsx
Labels: area/litmus-portal, state/review-complete

#2116 Refactored Subscriber K8s Client Util Functions
  litmus-portal/cluster-agents/subscriber/pkg/k8s/client.go
Labels: size/S

#2122 Updated BetterCI Manifest
  .betterci/ci-k8s-manifest.yml
  .betterci/config.json
Labels: READY TO MERGE, size/S

#2104 Chore (Litmus Portal): Styling Improvements & Adding missing translation
  litmus-portal/authentication/pkg/errors/response.go
  litmus-portal/frontend/public/locales/en/translation.yaml
  litmus-portal/frontend/src/components/Header/styles.ts
  litmus-portal/frontend/src/components/ProgressBar/SemiCircularProgressBar/styles.ts
  litmus-portal/frontend/src/components/QuickActionCard/index.tsx
  litmus-portal/frontend/src/components/QuickActionCard/style.ts
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/components/SideBar/styles.ts
  litmus-portal/frontend/src/pages/Community/index.tsx
  litmus-portal/frontend/src/pages/Community/styles.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/HomePage/style.ts
  litmus-portal/frontend/src/svg/target.svg
  litmus-portal/frontend/src/svg/targets.svg
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/TableData.tsx
  litmus-portal/frontend/src/views/ChaosWorkflows/BrowseAnalytics/WorkflowComparisonTable/index.tsx
  litmus-portal/frontend/src/views/Community/CommunityTimeSeriesPlot/index.tsx
  litmus-portal/frontend/src/views/Community/CommunityTimeSeriesPlot/styles.ts
  litmus-portal/frontend/src/views/Settings/TeammingTab/index.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/styles.ts
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/styles.ts
Labels: area/litmus-portal, kind/bug-fix

#2115 (litmus-portal): Remove the default language of 'en' and use auto-detect
  litmus-portal/frontend/public/index.html
  litmus-portal/frontend/public/locales/README.md
  litmus-portal/frontend/src/i18n.js
Labels: area/litmus-portal, size/XS

#2125 Added data-cy labels to the components for E2E testing
  litmus-portal/frontend/src/components/Header/index.tsx
  litmus-portal/frontend/src/components/QuickActionCard/index.tsx
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/pages/Settings/index.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/Invitation/ReceivedInvitations/index.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/Invitation/index.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/InviteNew/Invite/index.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/InviteNew/index.tsx
  litmus-portal/frontend/src/views/Settings/TeammingTab/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/CreateUser/NewUserModal/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/CreateUser/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/EditUser/ResetModal/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/EditUser/index.tsx
  litmus-portal/frontend/src/views/Settings/UserManagementTab/UserManagement/index.tsx
Labels: READY TO MERGE, area/litmus-portal, size/L
