Repository litmuschaos/litmus, pull requests merged in 2020-08, with the labels that each got.

#1810 chore(litmus-portal): ChooseWorkflow Screen with required models and actions.
  litmus-portal/frontend/package.json
  litmus-portal/frontend/public/icons/custom_workflow.svg
  litmus-portal/frontend/src/components/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/components/ChooseWorkflow/styles.ts
  litmus-portal/frontend/src/components/CustomCard/CardContainer.tsx
  litmus-portal/frontend/src/components/CustomCard/CardContent.tsx
  litmus-portal/frontend/src/components/CustomCard/CustomWorkflow.tsx
  litmus-portal/frontend/src/components/CustomCard/index.tsx
  litmus-portal/frontend/src/components/CustomCard/styles.ts
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/PredifinedWorkflows/index.tsx
  litmus-portal/frontend/src/components/PredifinedWorkflows/styles.ts
  litmus-portal/frontend/src/models/index.ts
  litmus-portal/frontend/src/models/predefinedWorkflow.ts
  litmus-portal/frontend/src/models/workflow.ts
  litmus-portal/frontend/src/redux/actions/workflow.ts
  litmus-portal/frontend/src/redux/reducers/index.ts
  litmus-portal/frontend/src/redux/reducers/workflow.ts
  litmus-portal/frontend/src/utils/yamlUtils.ts
Labels: area/litmus-portal, state/dev-complete, state/review-in-progress

#1820 chore(litmus-portal): added setup for gql query, subscription and in-memory cache
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/src/ReduxRoot.tsx
  litmus-portal/frontend/src/components/ChooseWorkflow/styles.ts
  litmus-portal/frontend/src/config/index.ts
  litmus-portal/frontend/src/schemas/index.ts
Labels: area/litmus-portal

#1812 chore(litmus-portal): Tune workflow screen and workflow page integration.
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/public/icons/fullscreen.svg
  litmus-portal/frontend/src/components/ChooseWorkflow/styles.ts
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/ReliabilityScore/ResultTable.tsx
  litmus-portal/frontend/src/components/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/ReliabilityScore/styles.ts
  litmus-portal/frontend/src/components/TuneWorkflow/index.tsx
  litmus-portal/frontend/src/components/TuneWorkflow/styles.ts
  litmus-portal/frontend/src/components/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/VerifyCommit/styles.ts
  litmus-portal/frontend/src/components/YamlEditor/Editor.tsx
  litmus-portal/frontend/src/components/YamlEditor/Validations.ts
  litmus-portal/frontend/src/components/YamlEditor/styles.ts
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/pages/Workflows/styles.ts
Labels: area/litmus-portal, merge, state/dev-complete, state/review-complete

#1831 chore(litmus-portal): Minox Fix for Cypress and Refactored the unit tests.
  litmus-portal/frontend/cypress/component/buttons.spec.tsx
  litmus-portal/frontend/cypress/component/customSlider.spec.tsx
  litmus-portal/frontend/cypress/component/semiCircularProgressBar.spec.tsx
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
  litmus-portal/frontend/tsconfig.json
Labels: area/litmus-portal

#1835 chore(litmus-portal): Updated Welcome Modal(Auth + JSON body)
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
Labels: area/litmus-portal

#1808 chore(litmus-portal): Design Refactoring + Cypress Code Coverage Fix
  litmus-portal/frontend/cypress.json
  litmus-portal/frontend/src/components/ChooseWorkflow/styles.ts
  litmus-portal/frontend/src/components/CustomSlider/styles.ts
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/CustomStepper/quontoConnector.ts
  litmus-portal/frontend/src/components/CustomStepper/styles.ts
  litmus-portal/frontend/src/components/Header/index.tsx
  litmus-portal/frontend/src/components/ReliabilityScore/styles.ts
  litmus-portal/frontend/src/components/ScheduleWorkflow/index.tsx
  litmus-portal/frontend/src/components/ScheduleWorkflow/styles.ts
  litmus-portal/frontend/src/components/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/VerifyCommit/styles.ts
  litmus-portal/frontend/src/components/WorkflowCluster/styles.ts
Labels: area/litmus-portal

#1836 Removed the unused dependencies.
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
Labels: area/litmus-portal

#1841 chore(litmus-portal): Added Workflow Agent Operations to GQL Server
  .betterci/ci-k8s-manifest.yml
  litmus-portal/backend/graphql-server/go.mod
  litmus-portal/backend/graphql-server/go.sum
  litmus-portal/backend/graphql-server/graph/generated/generated.go
  litmus-portal/backend/graphql-server/graph/model/models_gen.go
  litmus-portal/backend/graphql-server/graph/schema.graphqls
  litmus-portal/backend/graphql-server/graph/schema.resolvers.go
  litmus-portal/backend/graphql-server/pkg/cluster/cluster_jwt.go
  litmus-portal/backend/graphql-server/pkg/data-store/store.go
  litmus-portal/backend/graphql-server/pkg/database/mongodb/init.go
  litmus-portal/backend/graphql-server/pkg/database/mongodb/operations.go
  litmus-portal/backend/graphql-server/pkg/graphql/mutations/mutation.go
  litmus-portal/backend/graphql-server/pkg/graphql/queries/query.go
  litmus-portal/backend/graphql-server/pkg/graphql/subscriptions/subscription.go
  litmus-portal/backend/graphql-server/server.go
  litmus-portal/k8s-manifest.yml
Labels: area/litmus-portal

#1855 ESLint Refactor + Removed babel-eslint + Updated prettier settings
  litmus-portal/frontend/.eslintrc.json
  litmus-portal/frontend/package.json
Labels: area/litmus-portal

#1859 State management of Workflow Scheduling Screens and Some Refactoring done.
  litmus-portal/frontend/cypress/component/customSlider.spec.tsx
  litmus-portal/frontend/cypress/component/customStepper.spec.tsx
  litmus-portal/frontend/src/components/AdjustedWeights/styles.ts
  litmus-portal/frontend/src/components/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/components/CustomSlider/index.tsx
  litmus-portal/frontend/src/components/CustomStepper/index.tsx
  litmus-portal/frontend/src/components/CustomStepper/styles.ts
  litmus-portal/frontend/src/components/CustomText/index.tsx
  litmus-portal/frontend/src/components/PredifinedWorkflows/index.tsx
  litmus-portal/frontend/src/components/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/ScheduleWorkflow/index.tsx
  litmus-portal/frontend/src/components/TuneWorkflow/index.tsx
  litmus-portal/frontend/src/components/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/VerifyCommit/styles.ts
  litmus-portal/frontend/src/components/YamlEditor/Editor.tsx
  litmus-portal/frontend/src/models/workflow.ts
  litmus-portal/frontend/src/redux/actions/workflow.ts
  litmus-portal/frontend/src/redux/reducers/workflow.ts
  litmus-portal/frontend/src/utils/yamlUtils.ts
Labels: area/litmus-portal

#1860 chore(litmus-portal): Typo fix in FinishModal
  litmus-portal/frontend/src/components/FinishModal/index.tsx
Labels: area/litmus-portal

#1844 chore(litmus-portal): Workflow dashboard layout and a separate route for create workflow
  litmus-portal/frontend/cypress/component/LinearProgressBar.spec.tsx
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/src/components/Dashboard/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/components/Dashboard/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Dashboard/BrowseWorkflow/styles.ts
  litmus-portal/frontend/src/components/Dashboard/CustomStatus/Status.tsx
  litmus-portal/frontend/src/components/Dashboard/CustomStatus/styles.ts
  litmus-portal/frontend/src/components/Dashboard/WorkflowTabs/index.tsx
  litmus-portal/frontend/src/components/Dashboard/WorkflowTabs/styles.ts
  litmus-portal/frontend/src/components/InfoFilled/index.tsx
  litmus-portal/frontend/src/components/PassedVsFailed/styles.ts
  litmus-portal/frontend/src/components/ProgressBar/LinearProgressBar/index.tsx
  litmus-portal/frontend/src/components/SideBar/index.tsx
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/pages/CreateWorkflow/index.tsx
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/Workflows/index.tsx
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/utils/datesModifier.ts
Labels: area/litmus-portal

#1818 chore(litmus-portal): Added Workflow Agent
  litmus-portal/backend/workflow-agent/go.mod
  litmus-portal/backend/workflow-agent/go.sum
  litmus-portal/backend/workflow-agent/main.go
  litmus-portal/backend/workflow-agent/pkg/cluster/events/util.go
  litmus-portal/backend/workflow-agent/pkg/cluster/events/workflow.go
  litmus-portal/backend/workflow-agent/pkg/gql/util.go
  litmus-portal/backend/workflow-agent/pkg/gql/workflow-update.go
  litmus-portal/backend/workflow-agent/pkg/k8s/config.go
  litmus-portal/backend/workflow-agent/pkg/types/event.go
Labels: area/litmus-portal

#1839 User management
  litmus-portal/frontend/public/icons/BackArrow.svg
  litmus-portal/frontend/public/icons/Edit.svg
  litmus-portal/frontend/public/icons/arrow copy.png
  litmus-portal/frontend/public/icons/arrow.svg
  litmus-portal/frontend/public/icons/avatar.png
  litmus-portal/frontend/public/icons/b-finance.png
  litmus-portal/frontend/public/icons/bin-grey.svg
  litmus-portal/frontend/public/icons/bin.svg
  litmus-portal/frontend/public/icons/calendar.svg
  litmus-portal/frontend/public/icons/checkmark.svg
  litmus-portal/frontend/public/icons/close.svg
  litmus-portal/frontend/public/icons/closeModal.svg
  litmus-portal/frontend/public/icons/copy.svg
  litmus-portal/frontend/public/icons/down-arrow.svg
  litmus-portal/frontend/public/icons/lock.svg
  litmus-portal/frontend/public/icons/pass.svg
  litmus-portal/frontend/public/icons/user.svg
  litmus-portal/frontend/public/icons/userDel.svg
  litmus-portal/frontend/public/icons/userLarge.svg
  litmus-portal/frontend/src/ReduxRoot.tsx
  litmus-portal/frontend/src/assets/icons/arrow.png
  litmus-portal/frontend/src/assets/icons/calendar.png
  litmus-portal/frontend/src/components/AccountsTab/PersonalDetails/index.tsx
  litmus-portal/frontend/src/components/Header/ProfileDropdownItems.tsx
  litmus-portal/frontend/src/components/Header/ProfileDropdownSection.tsx
  litmus-portal/frontend/src/components/Header/index.tsx
  litmus-portal/frontend/src/components/ScheduleWorkflow/index.tsx
  litmus-portal/frontend/src/components/SetTime/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/AccountsTab/AccountSettings/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/AccountsTab/AccountSettings/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/AccountsTab/PersonalDetails/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/AccountsTab/PersonalDetails/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/Modals/DelUser/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/Modals/DelUser/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/Modals/NewUserModal/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/Modals/NewUserModal/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/Modals/PasswordModal/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/Modals/PasswordModal/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/Modals/ResetModal/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/Modals/ResetModal/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/UserManagementTab/CreateUser/UserDetails/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/UserManagementTab/CreateUser/UserDetails/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/UserManagementTab/CreateUser/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/UserManagementTab/CreateUser/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/UserManagementTab/EditUser/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/UserManagementTab/EditUser/styles.ts
  litmus-portal/frontend/src/components/SettingsComponents/UserManagementTab/UserManagement/index.tsx
  litmus-portal/frontend/src/components/SettingsComponents/UserManagementTab/UserManagement/styles.ts
  litmus-portal/frontend/src/components/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WelcomeModal/index.tsx
  litmus-portal/frontend/src/config/index.ts
  litmus-portal/frontend/src/models/user.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
  litmus-portal/frontend/src/pages/LoginPage/index.tsx
  litmus-portal/frontend/src/pages/Settings/index.tsx
  litmus-portal/frontend/src/redux/reducers/user.ts
  litmus-portal/frontend/src/schemas/index.ts
  litmus-portal/frontend/src/theme/index.tsx
  litmus-portal/frontend/src/utils/user.ts
Labels: area/litmus-portal

#1826 Updated Makefile
  .circleci/config.yml
  litmus-portal/Makefile
  litmus-portal/backend/workflow-agent/pkg/gql/mutation.go
  litmus-portal/frontend/package-lock.json
  litmus-portal/frontend/package.json
Labels: area/litmus-portal

#1891 chore(litmus-portal): Add unified modal component
  litmus-portal/frontend/src/components/Modal/DelUser/index.tsx
  litmus-portal/frontend/src/components/Modal/FinishModal/index.tsx
  litmus-portal/frontend/src/components/Modal/FinishModal/styles.ts
  litmus-portal/frontend/src/components/Modal/NewUserModal/styles.ts
  litmus-portal/frontend/src/components/Modal/PasswordModal/index.tsx
  litmus-portal/frontend/src/components/Modal/ResetModal/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/AccountSettings/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/AccountSettings/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/PersonalDetails/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/AccountsTab/PersonalDetails/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/NewUserModal/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/NewUserModal/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/CreateUser/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/EditUser/DelUser/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/EditUser/DelUser/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/EditUser/ResetModal/index.tsx
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/EditUser/ResetModal/styles.ts
  litmus-portal/frontend/src/components/Sections/Settings/UserManagementTab/EditUser/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/ChooseWorkflow/styles.ts
  litmus-portal/frontend/src/components/Sections/Workflow/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/ReliabilityScore/styles.ts
  litmus-portal/frontend/src/components/Sections/Workflow/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/VerifyCommit/styles.ts
  litmus-portal/frontend/src/components/WelcomeModal/Modalpage.tsx
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WelcomeModal/index.tsx
  litmus-portal/frontend/src/components/WelcomeModal/styles.ts
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/styles.ts
  litmus-portal/frontend/src/containers/layouts/Unimodal/index.tsx
  litmus-portal/frontend/src/containers/layouts/Unimodal/styles.ts
  litmus-portal/frontend/src/pages/HomePage/index.tsx
Labels: area/litmus-portal, litmus-portal /refactor

#1834 Integrate Graphql's CreateWorkflow API with the frontend
  litmus-portal/frontend/.eslintrc.json
  litmus-portal/frontend/cypress/component/stepper.spec.tsx
  litmus-portal/frontend/public/icons/finish.png
  litmus-portal/frontend/public/icons/finish.svg
  litmus-portal/frontend/public/temp/node-cpu-hog.svg
  litmus-portal/frontend/public/temp/node-memory-hog.svg
  litmus-portal/frontend/src/components/PredifinedWorkflows/data.ts
  litmus-portal/frontend/src/components/PredifinedWorkflows/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/ChooseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/ReliabilityScore/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/WorkflowCluster/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/WorkflowCluster/styles.ts
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WelcomeModal/styles.ts
  litmus-portal/frontend/src/components/WorkflowCard/CustomWorkflow.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/components/WorkflowStepper/styles.ts
  litmus-portal/frontend/src/models/predefinedWorkflow.ts
  litmus-portal/frontend/src/models/workflow.ts
  litmus-portal/frontend/src/redux/actions/workflow.ts
  litmus-portal/frontend/src/redux/reducers/workflow.ts
  litmus-portal/frontend/src/schemas/index.ts
  litmus-portal/frontend/src/utils/yamlUtils.ts
Labels: area/litmus-portal, priority/high, state/review-complete

#1896 Added Github Action for unit testing and removed from CI.
  .github/workflows/main.yml
  litmus-portal/frontend/package.json
Labels: area/litmus-portal

#1922 chore(litmus-portal): Added Browse Template Feature and Workflow Underground Sidebar
  litmus-portal/frontend/package.json
  litmus-portal/frontend/public/icons/experimentDetails.svg
  litmus-portal/frontend/public/icons/like.svg
  litmus-portal/frontend/src/components/AdjustedWeights/index.tsx
  litmus-portal/frontend/src/components/AdjustedWeights/styles.ts
  litmus-portal/frontend/src/components/Button/ButtonFilled/index.tsx
  litmus-portal/frontend/src/components/Button/ButtonOutline/index.tsx
  litmus-portal/frontend/src/components/PredifinedWorkflows/data.ts
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseTemplate/ExperimentDetails.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseTemplate/Head.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseTemplate/Recommendation.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseTemplate/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseTemplate/styles.ts
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/Templates/index.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/Templates/styles.ts
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/WorkflowTabs/index.tsx
  litmus-portal/frontend/src/components/Sections/Workflow/VerifyCommit/index.tsx
  litmus-portal/frontend/src/components/Sections/WorkflowUnderground/WorkflowRepresentation/index.tsx
  litmus-portal/frontend/src/components/Sections/WorkflowUnderground/WorkflowRepresentation/styles.ts
  litmus-portal/frontend/src/components/WelcomeModal/Stepper.tsx
  litmus-portal/frontend/src/components/WelcomeModal/styles.ts
  litmus-portal/frontend/src/components/WorkflowCard/CardContent.tsx
  litmus-portal/frontend/src/components/WorkflowCard/styles.ts
  litmus-portal/frontend/src/components/WorkflowStepper/index.tsx
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/containers/layouts/SideBar/index.tsx
  litmus-portal/frontend/src/models/index.ts
  litmus-portal/frontend/src/models/routerModel.ts
  litmus-portal/frontend/src/pages/WorkflowUnderground/index.tsx
  litmus-portal/frontend/src/pages/WorkflowUnderground/styles.ts
  litmus-portal/frontend/src/schemas/index.ts
  litmus-portal/frontend/src/utils/capitalize.ts
Labels: area/litmus-portal, litmus-portal /refactor, state/dev-complete

#1934 chore(litmus-portal): Added Workflow Sidebar
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/TableData.tsx
  litmus-portal/frontend/src/components/Sections/ChaosWorkflows/BrowseWorkflow/index.tsx
  litmus-portal/frontend/src/components/Sections/WorkflowUnderground/WorkflowRepresentation/index.tsx
  litmus-portal/frontend/src/components/Sections/WorkflowUnderground/WorkflowRepresentation/styles.ts
  litmus-portal/frontend/src/containers/app/App.tsx
  litmus-portal/frontend/src/pages/WorkflowUnderground/index.tsx
Labels: area/litmus-portal
