Repository litmuschaos/litmus, pull requests merged in 2023-08, with the labels that each got.

#4085 [ChaosCenter]: Revoke the token when the user logout
  chaoscenter/README.md
  chaoscenter/authentication/api/handlers/grpc/grpc_handler.go
  chaoscenter/authentication/api/handlers/rest/dex_auth_handler.go
  chaoscenter/authentication/api/handlers/rest/user_handlers.go
  chaoscenter/authentication/api/main.go
  chaoscenter/authentication/api/middleware/jwt_middlware.go
  chaoscenter/authentication/api/routes/project_router.go
  chaoscenter/authentication/api/routes/user_router.go
  chaoscenter/authentication/pkg/entities/session.go
  chaoscenter/authentication/pkg/entities/user.go
  chaoscenter/authentication/pkg/services/application_service.go
  chaoscenter/authentication/pkg/services/session_service.go
  chaoscenter/authentication/pkg/session/repository.go
  chaoscenter/authentication/pkg/utils/configs.go
  chaoscenter/authentication/pkg/utils/mongo_database.go
  chaoscenter/graphql/server/pkg/authorization/middleware.go
  chaoscenter/graphql/server/server.go
  chaoscenter/web/src/api/auth/hooks/useLogoutMutation.ts
  chaoscenter/web/src/api/auth/index.ts
  chaoscenter/web/src/api/auth/schemas/LogoutResponse.ts
  chaoscenter/web/src/app/App.tsx
  chaoscenter/web/src/controllers/Login/LoginPage.tsx
  chaoscenter/web/src/hooks/useLogout.ts
  litmus-portal/authentication/api/handlers/grpc/grpc_handler.go
  litmus-portal/authentication/api/handlers/rest/dex_auth_handler.go
  litmus-portal/authentication/api/handlers/rest/user_handlers.go
  litmus-portal/authentication/api/main.go
  litmus-portal/authentication/api/middleware/jwt_middlware.go
  litmus-portal/authentication/api/routes/project_router.go
  litmus-portal/authentication/api/routes/user_router.go
  litmus-portal/authentication/pkg/entities/session.go
  litmus-portal/authentication/pkg/entities/user.go
  litmus-portal/authentication/pkg/services/application_service.go
  litmus-portal/authentication/pkg/services/session_service.go
  litmus-portal/authentication/pkg/session/repository.go
  litmus-portal/authentication/pkg/utils/configs.go
  litmus-portal/authentication/pkg/utils/mongo_database.go
  litmus-portal/frontend/src/utils/auth.ts
  litmus-portal/graphql-server/pkg/authorization/middleware.go
  litmus-portal/graphql-server/pkg/authorization/middleware_test.go
  litmus-portal/graphql-server/server.go
  mkdocs/docs/auth/v3.0.0/auth-api.json
Labels: area/litmus-portal, READY-FOR-REVIEW, go

#4126 Test/exp run: Handler and service tests for experiment run package
  chaoscenter/graphql/definitions/shared/chaos_experiment.graphqls
  chaoscenter/graphql/definitions/shared/chaos_experiment_run.graphqls
  chaoscenter/graphql/server/graph/chaos_experiment.resolvers.go
  chaoscenter/graphql/server/graph/chaos_experiment_run.resolvers.go
  chaoscenter/graphql/server/graph/generated/generated.go
  chaoscenter/graphql/server/graph/resolver.go
  chaoscenter/graphql/server/pkg/authorization/roles.go
  chaoscenter/graphql/server/pkg/chaos_experiment/handler/handler.go
  chaoscenter/graphql/server/pkg/chaos_experiment/handler/handler_test.go
  chaoscenter/graphql/server/pkg/chaos_experiment/service.go
  chaoscenter/graphql/server/pkg/chaos_infrastructure/model/mocks/service.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/handler/handler.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/handler/handler_test.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/model/mocks/service.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/service.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/service_test.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/types.go
  chaoscenter/graphql/server/pkg/database/mongodb/chaos_experiment_run/operations.go
  chaoscenter/graphql/server/pkg/database/mongodb/chaos_experiment_run/schema.go
  chaoscenter/graphql/server/pkg/database/mongodb/chaos_infrastructure/operations.go
  chaoscenter/graphql/server/pkg/database/mongodb/mocks/mongo_operator.go
  chaoscenter/graphql/server/pkg/gitops/model/mocks/service.go
Labels: language/go, kind/unit-test, LFX-MENTORSHIP, READY-FOR-REVIEW

#4053 Seperate experiment runs from experiments in chaos_center
  chaoscenter/graphql/definitions/shared/chaos_experiment.graphqls
  chaoscenter/graphql/definitions/shared/chaos_experiment_run.graphqls
  chaoscenter/graphql/server/graph/chaos_experiment.resolvers.go
  chaoscenter/graphql/server/graph/chaos_experiment_run.resolvers.go
  chaoscenter/graphql/server/graph/generated/generated.go
  chaoscenter/graphql/server/graph/resolver.go
  chaoscenter/graphql/server/pkg/authorization/roles.go
  chaoscenter/graphql/server/pkg/chaos_experiment/handler/handler.go
  chaoscenter/graphql/server/pkg/chaos_experiment/service.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/handler/handler.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/service.go
  chaoscenter/graphql/server/pkg/choas_experiment_run/types.go
  chaoscenter/graphql/server/pkg/database/mongodb/chaos_experiment_run/operations.go
  chaoscenter/graphql/server/pkg/database/mongodb/chaos_experiment_run/schema.go
Labels: language/go, LFX-MENTORSHIP, READY-FOR-REVIEW, go
